body {
    background-color: mediumspringgreen;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.tarjeta {
    width: 220px;
    height: 360px;
    background-color: white;
    border-radius: 25px;
    padding: 50px;
    border: 5px solid rgb(119, 116, 117);
    margin-right: 20px;
    cursor: pointer;
}

.tarjeta img {
    padding-left: 30px;
    width: 90px;
}

.tarjeta p {
    text-align: justify;
    margin-bottom: 50px;
}

.contenedor {
color: rgb(128, 54, 54);
transition: 400ms;
}